$partner: var(--partner);
$highlight: var(--highlight);
$oo_border: 2px solid $partner;
$white: #ffffff;
$oo_border_radius: 8px;
$black: #000000;
$red: #fb4e30;

.multi-select {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .label {
    color: $partner;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 0;
    text-align: left;
    display: inline-block;
    white-space: normal;
  }
}

.asterisk {
  color: $red;
  font-size: 1.5em;
}

.input-container {

  &.multi-checkbox {
    position: relative;
  }
    
  input {
    cursor: pointer;
    font-weight: 400;
    height: 25px;
    position: absolute;
    opacity: 0;
    width: 100%;
      
    & + label {
      color: $partner;
      cursor: pointer;
      margin: 0;
      padding: 0;
      pointer-events: none;
      position: relative;
      display: inline-block;
      line-height: 25px;
    }

    & + label:before {
      border: 2px solid lightGray;
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 25px;
      height: 25px;
    }
  
    &:checked + label:before {
      background: $white;
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: 8px;
      top: 5px;
      display: inline-block;
      transform: rotate(39deg);
      height: 15px;
      width: 9px;
      border-bottom: 3px solid $black;
      border-right: 3px solid $black;
    }
  }
}
