$partner: var(--partner);
$highlight: var(--highlight);
$oo_border: 2px solid $partner;
$white: #ffffff;
$oo_border_radius: 8px;
$red: #fb4e30;

.nextbackbtn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}