$highlight: var(--highlight);
$disabled: #d9d9d9;

ul {
  padding: 0;

  li {
    list-style: none;

    button {
      background: none;
      border: 0;
      color: $highlight;
      font-weight: normal;
      text-decoration: none;

      &.disabled {
        color: $disabled;
        font-weight: normal;
        text-decoration: none;
      }

      &.active {
        color: $highlight;
        font-weight: bold;
      }
    }
  }
}

ul.lo_list {
  padding: 10px 15px 10px 15px;
}