$zavvie_blue: #386099;

p {
  margin-bottom: 0;
  margin-top: 2em;

  a {
    color: $zavvie_blue;
    font-size: .6em;
    text-decoration: none;

    &:hover {
      text-decoration: underline
    }
  }

  & + p {
    margin-bottom: 1em;
    margin-top: .3em;
  }
}