$partner: var(--partner);
$labels: #444444;
$highlight: var(--highlight);
$oo_border: 0.2px solid #888888;
$black: #000000;
$white: #ffffff;
$oo_border_radius: 4px;

html,
body {
  transition: all 0.5s ease-out;
}

.i-am-a.dropdown-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-color: #fcfcfc;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  color: $partner;
  margin: 0;
  max-width: 70%; 
  padding: .25em 1.6em .25em .8em;
  outline: none;
  width: 100%;

  option {
    padding: .5rem 0;
  }
}

.accordion {
  padding-top: 2em;

  .table-headings {
    display: flex;
    flex-direction: row;
  
    h4 {
      display: inline-block;
      font-weight: bold;
      margin: 0;
      width: 43.5%;
    }
  }
}

.accordion-item {
  background: #f1f1f1;
  margin-bottom: 10px;

  button {

    span {
      margin-right: 1em;
    }
  }

  .label {
    align-self: center;
    color: $labels;
    font-size: 1em;
    line-height: 1.1;

    &.seller-agent label,
    &.buyer-agent label {
      font-weight: normal;
      margin-right: .33em;
    }
  }

  .accordion-body {

    .vb-info1,
    .vb-info2 {
      padding: 0 .5em;

      .price-input-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
          flex-direction: row;
        }

        h5 {
          font-weight: bold;
        }
      }

      .service-fee, .seller-agent, .buyer-agent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
          flex-direction: row;
        }
      }

      .label {
        align-self: center;
        color: $labels;
        font-size: 1em;
        line-height: 1.1;
        margin-bottom: 0;
        padding: 0;
        

        &.seller-agent label,
        &.buyer-agent label {
          font-size: .85em;
          font-weight: normal;
          margin-right: .33em;

          .input {
            font-weight: normal;
          }
        }
      }
    }

    .vb-info3 {

      h5 {
        font-weight: bold;
        margin: 0;
        text-align: center;
      } 

      .estimated-net {
        font-size: 1.2em;
        margin-bottom: 1em;

        h5 {
          font-size: 1.2em;
        } 
      }

      .ibuyer-premium {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: .9em;
        justify-content: center;
        margin-bottom: 2em;
        margin-top: 2em;

        h5 {
          font-size: 1em;

          & + h5 {
            margin-left: .5em;
          }
        } 
      }

    }
  
    .input-info-text {
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: flex-start;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
      }

      input {
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1.1em;
        height: 34px;
        line-height: 1;
        padding: 0 0.3em;
        margin: 10px;
      }

      .notes {
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1.1em;
        height: 90%;
        line-height: 1;
        padding: 0 0.3em;
        resize: none;
        margin-left: 0.5em;
        max-width: 100%;
        width: 17em;
      }
    }
  }
}

.accordion-collapse.collapsing,
.accordion-collapse.show {
  padding: 1em;
}

.accordion-button {
  background: $white;
  border: 0;
  border-radius: 0;
  color: $highlight;
  cursor: pointer;
  padding: .6em;
  text-align: left;
  width: 100%;

  &:active,
  &:focus,
  &:hover,
  &.collapsed {
    color: #ffffff;
    top: 0;
    background: $highlight;
  }
}

.cor-container {
  padding: 0 .5em;

  @media screen and (min-width: 768px) {
    padding: 0 1em;
  }

  .cor-row {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 992px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

.add-verify-buyer {
  background: 0;
  border: 0;
  color: $highlight;
  margin: 1em 1em 0 0;
  position: unset;
  text-decoration: none;
}

.add_vb_container {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f1f1f1;
  margin-bottom: 10px;

  .vb-form {
    align-items: center;
    background-color: $white;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
    text-align: center;

    label {
      color: $partner;
      font-size: 1.1em;
      margin: 0;
      padding-right: .5em;
    }

    .add-vb-dropdown {
      border: 1px solid #ddd;
      border-radius: 5px;
      color: $partner;
      font-size: 1.1em;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
