<div id="verified-buyers-section" class="accordion">
  <div class="table-headings">
    <h4>Verified Buyers: </h4>
    <h4>Offer Status: </h4>
  </div>
  <div class="accordion-item" *ngFor="let el of allEligible; let i = index">
    <h5 class="accordion-header">
      <button class="accordion-button collapsed" type="button" [id]="'heading'+i">
        <div class="row">
          <div class="col" data-toggle="collapse" [attr.data-target]="'#vb-accordion'+i" aria-expanded="false" aria-controls="'collapse'+i">
            <span [ngClass]="accordionOpen ? 'fa fa-m fa-chevron-up' : 'fa fa-m fa-chevron-down'"></span> {{ el.name }}
          </div>
          <div class="col">
            <div class="offer-status">
              <form [formGroup]='offerStatusForm'>
                <div class="offer-status-input">
                  <select class="i-am-a dropdown-select" (change)="checkAccordionValidity(el.vbid, $event, i)" formControlName="offerStatus" [attr.data-target]="'offerStatus'+i">
                    <option value="Still waiting">Still waiting</option>
                    <option value="Received Offer">Received Offer</option>
                    <option value="Declined">Declined</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-2 d-flex justify-content-end align-items-center">
            <i class="far fa-times-circle" (click)="allEligible.splice(i, 1)"></i>
          </div>
        </div>
      </button>
    </h5>
      <div [attr.id]="offers[el.vbid]" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading'+i" data-bs-parent="#accordionExample">

        <div class="accordion-body cor-container">
          <div class="cor-row">
            <div class="vb-info1">
              <div class="price-input-container">
                <label class="label"><b>Cash Funding</b></label>
                <dollar-amount (getValue)="formValueChanged(el.vbid, 'cash_funding', $event)"></dollar-amount>
              </div>

              <div class="price-input-container">
                <label class="label"><b>Mortgage balance</b></label>
                <dollar-amount (getValue)="formValueChanged(el.vbid, 'mort_balance', $event)"></dollar-amount>
              </div>

              <div class="service-fee">
                <div class="label">
                    <label><b>Service Fee</b></label>
                </div>
                  <perc-amount (getValue)="formValueChanged(el.vbid, 'service_fee', $event)" (getPercentValue)="formValueChanged(el.vbid, 'service_fee_percent', $event)"></perc-amount>
              </div>

              <div class="commission">
                <div class="label">
                    <label><b>Commissions</b></label>
                </div>
                <div class="label seller-agent" >
                  <label>Seller Agent</label>
                  <div class="input">
                    <perc-amount (getValue)="formValueChanged(el.vbid, 'seller_agent', $event)"  (getPercentValue)="formValueChanged(el.vbid, 'seller_agent_percent', $event)"></perc-amount>
                  </div>
                </div>
                
                <div class="label buyer-agent">
                  <label>Buyer Agent</label>
                  <div class="input">
                    <perc-amount (getValue)="formValueChanged(el.vbid, 'buyer_agent', $event)"  (getPercentValue)="formValueChanged(el.vbid, 'buyer_agent_percent', $event)"></perc-amount>
                  </div>
                </div>
              </div>
            </div>

            <div class="vb-info2">
              <div class="price-input-container">
                <label class="label"><b>Prep and repairs</b></label>
                <dollar-amount (getValue)="formValueChanged(el.vbid, 'prep_repairs', $event)"></dollar-amount>
              </div>

              <div class="price-input-container">
                <label class="label"><b>Closing cost</b></label>
                <dollar-amount (getValue)="formValueChanged(el.vbid, 'closing_costs', $event)"></dollar-amount>
              </div>

              <div class="price-input-container selling Cost">
                <label class="label"><b>Cost of selling</b></label>
                <span><h5>{{ costOfSelling(el.vbid) | currency : 'USD' : 'symbol' : '1.0-0' }}</h5></span>
              </div>
            </div>

            <div class="vb-info3">
              <div class="estimated-net">
                <h5>Estimated net</h5>
                <h5>{{ estimatedNet(el.vbid) | currency : 'USD' : 'symbol' : '1.0-0' }} </h5>
              </div>
             <div class="ibuyer-premium">
              <h5>{{ netDiffText(el.vbid) }}</h5>
              <h5>{{ netDifference(el.vbid) | currency : 'USD' : 'symbol' : '1.0-0' }}</h5>
             </div>
            </div>
          </div>

          <div class="input-info-text">
            <div>
              <label class="label">Offer notes: </label>
              <textarea class="notes" type="textarea" cols="24" rows="4" wrap="soft"></textarea>
            </div>
            <div>
              <div>
                <label class="label">Link text: </label>
                <input type="text" value="{{el.eligible_link_text}}"/>
              </div>
              <div>
                <label class="label">Link URL: </label>
                <input type="text" value="{{el.eligible_link_url}}"/>
              </div>
            </div>
           
          </div>
         
        </div>
      </div>
  </div>
</div>

<i class="fal fa-plus-circle"></i> <button class="add-verify-buyer" type="button" (click)="addverifyBuyer = !addverifyBuyer">&nbsp;Add a verified buyer</button>
<div *ngIf="addverifyBuyer" class="add_vb_container">
  <form [formGroup]='verifyBuyerForm' class="vb-form">
    <label>Add a verified buyer</label>
    <select class="add-vb-dropdown" formControlName="VBname">
      <option value="" selected>Choose</option>
      <option [ngValue]="verifyBuyer" *ngFor="let verifyBuyer of verifyBuyers | orderBy: 'name'">{{ verifyBuyer.name }}</option>
    </select>
    <app-nextbackbtn [buttonConfig]="addBtnConfig" (click)="addVerifyBuyer()"></app-nextbackbtn>
  </form>
</div>

<div class="btn-container">
  <app-nextbackbtn [buttonConfig]="previewBtnConfig" (click)="viewPreview()"></app-nextbackbtn>
  <app-nextbackbtn [buttonConfig]="startOverBtnConfig" (click)="startOver($event)"></app-nextbackbtn>
</div>

<div *ngIf="callPreview">
  <preview-pdf></preview-pdf>
</div>