$partner: var(--partner);
$highlight: var(--highlight);
$oo_border: 2px solid $partner;
$white: #ffffff;
$oo_border_radius: 8px;

app-nextbackbtn {
  display: inline;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: $highlight;
  border: 0;
  border-radius: $oo_border_radius;
  color: $white;
  cursor: pointer;
  padding: 0.5em 1em;

  &.disabled {
    background-color: #e2e2e2;
    border: 0;
    cursor: auto;
  }
}

.backbtn.pp-back {
  left: -5px;
  position: relative;
}