<ng-container
  *ngTemplateOutlet=
  "buttonConfig['text'] ? next 
  :buttonConfig['backtext'] ? back 
  : COR">
</ng-container>

<!-- Back Button -->
<ng-template class="nextbackbtn" #back>
  <div class="btn-container">
    <button class="backbtn pp-back" type="buttonConfig.type">
      <i class="far fa-angle-left"></i> {{buttonConfig.backtext}}
    </button>
  </div>
</ng-template>

<!-- Next Button -->
<ng-template class="nextbackbtn" #next>
  <div class="btn-container disabled">
    <button class="nextbtn" type="buttonConfig.type" (click)="sendUpdate()"
      [ngClass]="{ 'disabled': buttonConfig.disabledBtn }" [disabled]="buttonConfig.disabledBtn">
      {{buttonConfig.text}} <i class="far fa-angle-right"></i>
    </button>
  </div>
</ng-template>

<!-- COR  Button -->
<ng-template class="nextbackbtn" #COR>
  <div class="btn-container disabled">
    <button class="backbtn" type="buttonConfig.type"
    [ngClass]="{ 'disabled': buttonConfig.disabledBtn }"
    [disabled]="buttonConfig.disabledBtn"
    [value]='ppvalue'>{{buttonConfig.cortext}}</button>
  </div>
</ng-template>
