<pp-page-title label="Client Contact Info"></pp-page-title>
<div class="inputs-container">
    <form>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="label">Client First Name <span class="asterisk">*</span> </label>
                    <input type="text" class="form-control" placeholder="First name" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="label">Client Last Name <span class="asterisk">*</span> </label>
                    <input type="text" class="form-control" placeholder="Last name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="label">Client Email Address <span class="asterisk">*</span> </label>
                    <input type="text" class="form-control" placeholder="email" email />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="label">Client Phone Number <span class="asterisk">*</span> </label>
                    <input type="text" class="form-control" placeholder="Phone number" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="javascript:void(0);">Add Additional Client Contact</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="label">Loan Officer First Name <span class="asterisk">*</span> </label>
                    <input type="text" class="form-control" placeholder="Loan officer first name" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="label">Loan Officer Last Name <span class="asterisk">*</span> </label>
                    <input type="text" class="form-control" placeholder="loan officer last name" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="label">loan Officer Email Address <span class="asterisk">*</span> </label>
                    <input type="text" class="form-control" placeholder="Loan officer email" email />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="label">Loan Officer Phone Number <span class="asterisk">*</span> </label>
                    <input type="text" class="form-control" placeholder="Loan officer number" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="label">Loan Officer NMLS ID <span class="asterisk">*</span> </label>
                    <input type="text" class="form-control" placeholder="Loan officer NMLS ID" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="label">Is this client working with an agent? <span class="asterisk">*</span> </label><br>
                    <input type="radio" name="radio" value="">
                   Yes<br>
                    <input type="radio" name="radio" value="">
                   No
                </div>

            </div>
        </div>

    </form>

</div>