<form *ngIf="!showConfirmation" [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" autocomplete="off">

  <h3>Change password</h3>

  <div class="change-password-form">

    <p class="errorText" *ngIf="errorMessage">{{ errorMessage }}</p>

    <div class="form-group">
      <label>Email address</label>
      <div style="text-align: left;">{{ email }}</div>
    </div>

    <div class="form-group">
      <label class="password">Current Password
        <input type="{{ showCurrentPassword ? 'text' : 'password' }}" class="form-control"
               formControlName="CurrentPassword" required />
        <button class="show-password" type="button" (click)="showCurrentPassword = !showCurrentPassword">{{ showCurrentPassword ? 'HIDE' : 'SHOW' }}</button>
      </label>
    </div>

    <div class="form-group">
      <label class="password">New Password
        <input type="{{ showNewPassword ? 'text' : 'password' }}" class="form-control"
               formControlName="NewPassword" required />
        <button class="show-password" type="button" (click)="showNewPassword = !showNewPassword">{{ showNewPassword ? 'HIDE' : 'SHOW' }}</button>
      </label>
    </div>

    <p>Password must contain:</p>
    <p>
      <span class="exclamation-circle" *ngIf="Password?.errors?.required || Password?.errors?.minlength || Password?.errors?.maxlength">
        <ng-template [ngTemplateOutlet]="svgExclamation"></ng-template></span>
      <span class="check-circle" *ngIf="!(Password?.errors?.required || Password?.errors?.minlength || Password?.errors?.maxlength)">
        <ng-template [ngTemplateOutlet]="svgCircle"></ng-template></span>
      At least 8 characters</p>
    <p>
      <span class="exclamation-circle" *ngIf="Password?.errors?.noLetter">
        <ng-template [ngTemplateOutlet]="svgExclamation"></ng-template></span>
      <span class="check-circle" *ngIf="!Password?.errors?.noLetter">
        <ng-template [ngTemplateOutlet]="svgCircle"></ng-template></span>
      1 letter</p>
    <p>
      <span class="exclamation-circle" *ngIf="Password?.errors?.noDigit">
        <ng-template [ngTemplateOutlet]="svgExclamation"></ng-template></span>
      <span class="check-circle" *ngIf="!Password?.errors?.noDigit">
        <ng-template [ngTemplateOutlet]="svgCircle"></ng-template></span>
      1 number</p>
    <p>
      <span class="exclamation-circle" *ngIf="Password?.errors?.noSpecialCharacter">
        <ng-template [ngTemplateOutlet]="svgExclamation"></ng-template></span>
      <span class="check-circle" *ngIf="!Password?.errors?.noSpecialCharacter">
        <ng-template [ngTemplateOutlet]="svgCircle"></ng-template></span>
      1 special character (@!#, etc.)</p>

    <div class="btn-container">
      <button-comp *ngIf="!isSubmitting" [disable]="!changePasswordForm.valid" label="Change Password"></button-comp>
      <div class="loading-spinner" *ngIf="isSubmitting">
        <loading-spinner></loading-spinner>
      </div>
    </div>
  </div>

</form>

<div *ngIf="showConfirmation" class="change-password-success">
  <svg class="success-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"/></svg>  <h3>Successful password reset!</h3>
  <div class="btn-container">
    <button (click)="continue.emit()">Continue</button>
  </div>
  <div class="btn-container">
    <button (click)="showMyAccount.emit()">Go to My Account</button>
  </div>
</div>

<ng-template #svgCircle><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z"/></svg></ng-template>
<ng-template #svgExclamation><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-11.49 120h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM256 340c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z"/></svg></ng-template>
