<app-lo-page-title label="Mortgage Info"></app-lo-page-title>
<div class="inputs-container">
    <h4>To get started, tell us a little bit about your client's mortgage plans</h4>
    <form>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="label">What type of mortgage is your client interested in? </label><br>
                    <input type="radio" name="radio" [value]="true">
                    Conventional<br>
                    <input type="radio" name="radio" [value]="false">
                    VA loan <br>
                    <input type="radio" name="radio" [value]="false">
                    N/A - Other
                </div>
            </div>
        </div>
        <div class="nextbackbtn-container">
            <app-next-back-buttons [buttonConfig]="backBtnConfig" (click)="back()"> </app-next-back-buttons>
            <app-next-back-buttons *ngIf="!showBuyerPPLoader" [buttonConfig]="nextBtnConfig" (click)="next()">
            </app-next-back-buttons>
            <div class="loading-spinner" *ngIf="showBuyerPPLoader">
                <loading-spinner></loading-spinner>
            </div>
        </div>
    </form>
</div>