$zavvie_blue: #386099;
$text_color: #595959;
$white: #ffffff;
$black: #000000;
$border_radius: 6px;
$red: #ca1919;
$green: #008042;

h3 {
  color: $zavvie_blue;
  clear: left;
  font-size: 1.1em;
  font-weight: normal;
  letter-spacing: .001em;
  line-height: 1;
  margin-bottom: .5em;
  padding-top: .5em;

  @media screen and (min-width: 768px) {
    font-size: 1.6em;
    padding-top: 1em;
  }
}

.persona-toggle {
  display: flex;
  font-size: .8em;
  justify-content: center;
  line-height: 1.1;
  margin: 1.5em auto;

  .persona {
    background: $white;
    border: 1px solid $zavvie_blue;
    color: $text_color;
    cursor: pointer;
    padding: .5em .75em;

    &.active {
      background: $zavvie_blue;
      color: $white;
    }
  }
}

.signup-form {

  p {
    font-size: 10px;
    line-height: 1.7;
    margin-bottom: 0;
    text-align: left;

    span.exclamation-circle svg {
      fill: $red;
      height: 12px;
      width: 12px;
    }

    span.check-circle svg {
      fill: $green;
      height: 12px;
      width: 12px;
    }
  }
}

.errorText {
  color: $red;
  margin: 1em auto;
  max-width: 300px;
}

.emailError {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: .8em;
  justify-content: flex-end;
  text-align: left;
  margin-top: .25em;
  width: 100%;

  a {
    background: 0;
    border: 0;
    color: $zavvie_blue;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: normal;
    padding-left: 0.25em;
    text-decoration: underline;
  }

  svg {
    fill: $zavvie_blue;
    height: 12px;
    margin-right: .5em;
    width: 12px;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.exclamation-icon,
.emailGood {
  height: 11px;
  width: 11px;

  svg {
    bottom: 1em;
    fill: $zavvie_blue;
    height: 11px;
    position: absolute;
    right: 1em;
    width: 11px;
  }
}

.emailGood svg {
  fill: $green;
}

.sub-heading {
  color: $text_color;
  display: block;
  font-size: .9em;
  font-weight: normal;
  margin-bottom: .5em;

  @media screen and (min-width: 768px) {
    margin-bottom: 1em;
  }

  button {
    background: none;
    border: 0;
    color: $zavvie_blue;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
  }
}

form, button {
  font-family: Avenir;
}

label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: .85em;
  margin-bottom: 0;
  margin-top: .25em;
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-bottom: .25em;
    margin-top: .5em;
  }

  & + label {
    margin-left: 0;

    @media screen and (min-width: 768px) {
      margin-left: 1em;
    }
  }
}

.extra-info {
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  line-height: 1.2;
  margin-left: 0;
  max-width: 100%;
  position: relative;
  text-align: left;
  top: 0;
}

input {
  border: 1px solid $text_color;
  border-radius: $border_radius;
  box-shadow: 0px 3px 3px -1px #00000040 inset;
  color: $text_color;
  font-size: .9em;
  padding: 0.5em 0.35em;

  @media screen and (min-width: 768px) {
    font-size: 1em;
    padding: .75em .35em;
  }
}

.form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.asterisk {
  color: $red;
  font-size: 1.5em;
}

.form-group.checkbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: .5em;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-top: 1em;
  }

  input {
    cursor: pointer;
    font-weight: 400;
    height: 25px;
    left: 20px;
    position: absolute;
    opacity: 0;
    top: 0;
    width: 25px;

    & + span {
      color: $zavvie_blue;
      cursor: pointer;
      margin: 0;
      padding: 0;
      pointer-events: none;
      position: relative;
      display: flex;
      line-height: 1.5;
    }

    & + span:before {
      border: 2px solid lightGray;
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 25px;
      height: 25px;
    }

    &:checked + span:before {
      background: $white;
    }

    &:checked + span:after {
      content: '';
      position: absolute;
      left: 8px;
      top: 5px;
      display: inline-block;
      transform: rotate(39deg);
      height: 15px;
      width: 9px;
      border-bottom: 3px solid $black;
      border-right: 3px solid $black;
    }
  }
}

.checkbox.terms {
  font-size: .8em;
  line-height: 1.1;
  text-align: left;
}

.name-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.loading-spinner {
  position: relative;
  display: block;
  top: -100px;
  width: 100px;
  transform: scale(.75);
}

.password {
  position: relative;

  button {
    background: 0;
    border: 0;
    color: $black;
    cursor: pointer;
    font-weight: bold;
    font-size: .8em;
    position: absolute;
    right: 1em;
    top: 2em;
  }
}

.btn-container {
  min-height: 85px;

  .loading-spinner {
    margin: 0 auto;
    position: relative;
    top: -1em;
    transform: scale(.75);
  }
}
